<app-card>
  <table class="table table-card">
    <thead>
    <tr>
      <th>Log Entry Date</th>
      <th>Log Enterer</th>
      <th>Log</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>
    <tr>
      <td>Dec 26 , 2016</td>
      <td>Tariq Hasan</td>
      <td>Fitness and Nutrition Coach( 1 Month )</td>
    </tr>

    </tbody>
  </table>
</app-card>
