<app-card [title]="'Priyanka'">
  <div class="col-container">
    <div class="col one">
      Age: <b>31 years</b> <br>
      Start weight : <b>0.00 kg</b>
    </div>
    <div class="col one">
      Gender: <b>Female </b> <br>
      Target Weight: <b>0.00 kg</b>
    </div>
    <div class="col one">
      Height : <b>163 cm</b> <br>
      BMI : <b>28.6 kg/m^2</b>
    </div>
    <div class="col two">
      Current Weight : <b>76 kg</b> <br>
      Premium Activation Date : <b>30-12-2016</b>
    </div>
    <div class="col two">
      Premium Plan Start Date : <b>30-12-2016</b> <br>
      Premium Expiry Date : <b>30-12-2016</b>
    </div>
  </div>
</app-card>
