<app-card>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="text-center">Info For Fitness and Nutrition Coaches</h2>
        <hr>
        <form>
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">
              <p class="text-right">Name</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="text" class="form-control" id="name" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="genderSelect" class="col-sm-4 col-form-label">
              <p class="text-right">Gender</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="genderSelect">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="dob" class="col-sm-4 col-form-label">
              <p class="text-right">Date of Birth</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="date" class="form-control" id="dob" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="emailField" class="col-sm-4 col-form-label">
              <p class="text-right">Contact Email</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="email" class="form-control" id="emailField" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="phoneNo" class="col-sm-4 col-form-label">
              <p class="text-right">Phone</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="text" class="form-control" id="phoneNo" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="weight" class="col-sm-4 col-form-label">
              <p class="text-right">Weight</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="number" class="form-control" id="weight" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="height" class="col-sm-4 col-form-label">
              <p class="text-right">Height (in cm)</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="number" class="form-control" id="height" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="genderSelect" class="col-sm-4 col-form-label">
              <p class="text-right">What is your fitness Goal?</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="genderSelect">
                <option>Weight Loss</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="pastWeight" class="col-sm-4 col-form-label">
              <p class="text-right">What was your weight 6 months ago?</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="number" class="form-control" id="pastWeight" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="dietType" class="col-sm-4 col-form-label">
              <p class="text-right">Diet Type</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="dietType">
                <option>Vegitarian</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">Meals you consume rugularly</div>
            <div class="col-sm-8">
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Bed Tea
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                  Breakfast
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck3">
                  Morning Snack
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck4">
                <label class="form-check-label" for="gridCheck4">
                  Lunch
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck5">
                <label class="form-check-label" for="gridCheck5">
                  Evening Snack
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck6">
                <label class="form-check-label" for="gridCheck6">
                  Dinner
                </label>
              </div>
              <div class="form-check">
                <input readonly class="form-check-input readonly" type="checkbox" id="gridCheck7">
                <label class="form-check-label" for="gridCheck7">
                  After Dinner Snack
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="freqEatOut" class="col-sm-4 col-form-label">
              <p class="text-right">Frequency of eating out</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="freqEatOut">
                <option>One Week or less</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="aimTarget" class="col-sm-4 col-form-label">
              <p class="text-right">
                In what time period you aim to achive your target?
              </p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="aimTarget">
                <option>12 Weeks</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="physicalActLevel" class="col-sm-4 col-form-label">
              <p class="text-right">Current Physical Activity Level</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="physicalActLevel">
                <option>Normal</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="physicalActLevel" class="col-sm-4 col-form-label">
              <p class="text-right">How many hours do you sleep in a day?</p>
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="physicalActLevel">
                <option>6-8 Hours</option>
                <option>Something</option>
                <option>Something</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="problemsAllergies" class="col-sm-4 col-form-label">
              <p class="text-right">Please mention any medical problems or allergies</p>
            </label>
            <div class="col-sm-8">
              <textarea class="form-control" id="problemsAllergies" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="bestCallTime" class="col-sm-4 col-form-label">
              <p class="text-right">Best time to have a call with you</p>
            </label>
            <div class="col-sm-8">
              <input readonly type="time" class="form-control" id="bestCallTime" placeholder="">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-card>
