<div class="row">
  <div class="col-sm-12">
    <app-user-card-header></app-user-card-header>
  </div>
  <div class="col-md-6">
    <app-user-quick-links></app-user-quick-links>
  </div>
  <div class="col-md-6">
    <app-user-card></app-user-card>
  </div>
  <div class="col-md-12">
    <app-user-workout-form></app-user-workout-form>
  </div>
  <div class="col-md-12">
    <app-user-workout-form></app-user-workout-form>
  </div>
  <div class="col-md-12">
    <app-user-workout-form></app-user-workout-form>
  </div>
</div>

