<app-card >
  <!--[title]="'Priyanka'" [headerContent]="'205603'"-->
  <div class="row">
    <div class="col-sm-2">
      <img class="img-circle img img-responsive" src="http://via.placeholder.com/500">
    </div>
    <div class="col-sm-10">
      <div class="col-container">
        <div class="col">
          <div>
            <h5>Priyanka ( 205603 )</h5>
          </div>
          <div>
            <p>Female ,31 </p>
          </div>
          <div>
            <p>Fitness + Nutrition </p>
          </div>
          <div>
            <p>Coach : Kevin Samuels </p>
          </div>
          <div>
            <p>Phone : 9899999999 </p>
          </div>
          <div>
            <p><a href="javascript:void(0)">See Notes</a></p> <br>
          </div>
        </div>
        <div class="text-center time-section col">
          Plan
          <div class="time-remaining"> 0</div>
          Minutes Remaining.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <a routerLink="/profile">
            <button class="btn btn-success btn-outline-info btn-block">View/Edit Workouts</button>
          </a>
        </div>
        <div class="col-sm-6">
          <a routerLink="/profile/info">
            <button class="btn btn-danger btn-outline-info btn-block">View user Info</button>
          </a>
        </div>
      </div><div class="row">
        <div class="col-sm-6">
          <a routerLink="/profile">
            <button class="btn btn-success btn-outline-info btn-block">View/Edit Workouts</button>
          </a>
        </div>
        <div class="col-sm-6">
          <a routerLink="/profile/info">
            <button class="btn btn-danger btn-outline-info btn-block">View user Info</button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-success btn-outline-success btn-block">Update Call Status</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-danger btn-outline-danger btn-block">Send Unable to contact mail</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-primary btn-outline-primary btn-block">Chat</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary btn-outline-primary btn-block">Assign Cateogry</button>
        </div>
      </div>


    </div>
  </div>
</app-card>
