<app-card [title]="'Quick Links'">
  <ul class="links">
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">Training History</a>
    </li>
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">Nutrition History</a>
    </li>
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">Tracking History</a>
    </li>
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">Call History</a>
    </li>
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">User Information</a>
    </li>
    <li>
      <i class="icofont icofont-double-right text-success"></i>
      <a href="#">Chat</a>
    </li>
  </ul>
</app-card>
